.header {
    grid-column: page-s/page-e;
    grid-row: bar-s/bar-e;

    height: 5rem;

    background: $main-red;

    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon,
    &__search-wrapper {
        margin: 0.5rem 0 0.5rem 1rem;
    }

    &__icon {
        height: 4.1rem;
        width: 4.1rem;

        background: black;

        color: $main-red;
        font-size: 4rem;

        border-radius: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__search-wrapper {
        height: 2.5rem;
        width: 30%;

        &__search {
            height: 100%;
            width: 100%;

            font-size: 2rem;
            font-family: $main-font;

            border: 0.1rem solid black;
            border-radius: 0.3rem;

            padding: 0.5rem;

            display: flex;
            justify-content: center;
        }
    }
}