.layout {
    display: grid;
    grid-template-columns: [page-s] 5rem [content-s container-s] minmax(30rem, 1fr) [container-e detail-s] 3fr [detail-e content-e] 5rem [page-e];
    grid-template-rows: [page-s bar-s] 5rem [bar-e content-s up-s] 3.9rem [up-e detail-s] 1fr [detail-e down-s] 3.9rem [down-e content-e page-e];
}