.spell-item {
    height: 5rem;
    width: 100%;

    font-size: 2rem;
    font-family: $main-font;

    border: 0px solid black;
    border-width: 1px 2px;

    display: flex;
    align-items: center;

    &__icon {
        height: 3rem;
        width: 3rem;

        background: $main-red;

        margin: 0px 1.5rem;
        
        border: 1px solid black;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}