.spell-container {
    grid-column: container-s/container-e;
    grid-row: content-s/content-e;

    display: grid;
    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [s up-s] 1rem [up-e list-s] repeat(2, 3rem) [list-e down-s] 1rem [down-e e];
    justify-content: center;

    &__list {
        grid-row: list-s/list-e;
    }
}