.spell-container {
    grid-column: container-s/container-e;

    display: grid;
    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [s up-s] 3rem [up-e list-s] repeat(2, 3rem) [list-e down-s] 3rem [down-e e];

    &__list {
        grid-row: list-s/list-e;
    }
}