.spell-detail {
    grid-column: detail-s/detail-e;
    grid-row: detail-s/detail-e;

    height: 70.2rem;

    font-family: $sub-font;
    text-align: right;
    white-space: pre-wrap;

    border: 2px solid black;

    transform: translateX(-2px);

    display: grid;
    grid-template-rows: [s name-s] 5rem [name-e casting-s] 15rem [casting-e desc-s] 1fr [desc-e e];
    justify-content: end;

    &__name,
    &__wrapper,
    &__desc-wrapper {
        padding: 0px 0.5rem;
    }

    &__name {
        width: 100%;

        font-size: 4rem;
        font-family: $main-font;

        border-bottom: 2px solid black;

        overflow: hidden;
    }

    &__wrapper {
        font-size: 1.7rem;
        font-family: $sub-font;

        border-bottom: 2px solid black;

        overflow: auto;
    }

    &__desc-wrapper {
        font-size: 2rem;

        overflow: auto;
    }
}

.spell-detail-none {
    grid-column: detail-s/detail-e;
    grid-row: detail-s/detail-e;
    justify-self: center;
    align-self: center;

    color: gray;
    font-size: 5rem;
    font-family: $main-font;

    text-align: center;
}